<div class="nx-donut-panel">
  <div class="nx-donut-grid">
    <app-nx-donut
      *ngFor="let donut of donuts"
      [config]="donut"
      [selected]="selectedId === donut.id"
      (select)="onDonutSelected(donut)"
    ></app-nx-donut>
  </div>

  <div class="nx-donut-legend" *ngIf="legendItems.length">
    <div class="nx-donut-legend-item" *ngFor="let item of legendItems">
      <span class="nx-donut-swatch" [style.background]="item.color"></span>
      {{ item.label }}
    </div>
  </div>
</div>
